@model MediaTurma.Models.Alunos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alunos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeAluno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeAluno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediaAlunos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediaAlunos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faltas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faltas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
